openapi: 3.1.0
x-stoplight:
  id: 4am2q6x0h3c1j
info:
  title: Dataprius API v2
  version: '2.0'
  summary: This is the Dataprius API REST v2
  description: 'Dataprius offers a different way to work with files in the Cloud. It is designed for companies. It allows you to work with company files without synchronizing, without conflicts, with multiple Users connected at the same time.'
  contact:
    name: Dataprius Team
    url: 'https://dataprius.com/contacto.html'
    email: info@dataprius.com
  license:
    name: GPL-3.0 license
    url: 'https://www.gnu.org/licenses/gpl-3.0.en.html'
  termsOfService: 'https://dataprius.com/en/dataprius-legal-advice.html'
servers:
  - url: 'https://api.v2.dataprius.com'
paths:
  /oauth/token:
    get:
      summary: ''
      operationId: get-oauth-token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token_type:
                    type: string
                  created_at:
                    type: integer
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  expires_in:
                    type: integer
                x-examples:
                  Example 1:
                    token_type: bearer
                    created_at: 1687944522153
                    access_token: a492954ebad2187063fa5e09854bfd8222ad3fc3
                    refresh_token: 405bc5a2bcb5c026afed160085952ef37bb2d709
                    expires_in: 1687944529353
              examples:
                Example 1:
                  value:
                    token_type: bearer
                    created_at: 1687944522153
                    access_token: a492954ebad2187063fa5e09854bfd8222ad3fc3
                    refresh_token: 405bc5a2bcb5c026afed160085952ef37bb2d709
                    expires_in: 1687944529353
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: |-
        This is an Oauth2 basic authentication.

        To get an access token you will need the account’s Api keys. These are "clientId" and "clientSecret" credentials. You can get them from your Dataprius account configuration.

         If you do not have a Dataprius account, go to the website, download and install the <a href="https://dataprius.com/descargas">Free Version</a>. Once the application is installed. Go to the button in the lower left corner.

         Click Start -> Configuration -> API Keys

        There you can request API keys. There is a activation process. After that, you will see API Keys on the same window in Configuration.

        The Basic Authorization

        As is standard in basic access authentication, the header’s structure corresponds to Authorization Basic credentials, where credentials is the result of:

        Joining clientId and clientSecret by a single colon (:) Applying Base64 (URL safe mode) to the result.

        Basic Credentials is the result of base64(clientId + ":" + clientSecret)
      parameters:
        - schema:
            type: string
            default: Basic
            example: Basic MjUwZjBmYTVkN2VlYzNiN2QyZDE6ZWJhZTA2NDcxZTliMDA0YTYyNWJkM2M4NDU5ZGZmN2YwZjc2==
          in: header
          name: Authorization
          required: true
          description: Basic Authorization
  /folders/list/0:
    post:
      summary: List root folder
      operationId: post-folders-list-0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: string
                        Parent:
                          type: string
                        Name:
                          type: string
                        Path:
                          type: string
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total_pages:
                            type: integer
                          current_page:
                            type: integer
                          total_results:
                            type: integer
                x-examples:
                  Example 1:
                    data:
                      - ID: X3lXnB
                        Parent: '0'
                        Name: Administration
                        Path: FOLDERS/Administration
                      - ID: D5Dz0G
                        Parent: '0'
                        Name: Commercial office
                        Path: FOLDERS/Commercial office
                      - ID: 6GlAKy
                        Parent: '0'
                        Name: Proyects
                        Path: FOLDERS/Proyects
                    meta:
                      pagination:
                        total_pages: 1
                        current_page: 1
                        total_results: 3
              examples:
                Example 1:
                  value:
                    data:
                      - ID: X3lXnB
                        Parent: '0'
                        Name: Administration
                        Path: FOLDERS/Administration
                      - ID: D5Dz0G
                        Parent: '0'
                        Name: Commercial office
                        Path: FOLDERS/Commercial office
                      - ID: 6GlAKy
                        Parent: '0'
                        Name: Proyects
                        Path: FOLDERS/Proyects
                    meta:
                      pagination:
                        total_pages: 1
                        current_page: 1
                        total_results: 3
        '400':
          $ref: '#/components/responses/400-Bad-Page'
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: List root folder of your Dataprius account. You can get the subfolder references to navigate.
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Page:
                  type: string
                  x-stoplight:
                    id: m0eg6j6rm2c7p
                  default: '1'
            examples:
              Example 1:
                value:
                  Page: '1'
        description: Page is not required. By default the request get Page 1.
      tags:
        - Folders
      x-internal: false
  '/folders/list/{idFolder}':
    parameters:
      - schema:
          type: string
        name: idFolder
        in: path
        required: true
        description: Folder ID
    post:
      summary: List folders
      operationId: post-folders-list-idFolder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    status: ok
                    data:
                      - ID: X3lXnB
                        Parent: 0vpZeO
                        Name: Administration
                        Path: FOLDERS/Administration
                      - ID: 0vEAlA
                        Parent: 0vpZeO
                        Name: ANOTHER FOLDER
                        Path: FOLDERS/ANOTHER FOLDER
                      - ID: xWOB8W
                        Parent: 0vpZeO
                        Name: Billing
                        Path: FOLDERS/Billing
                      - ID: D5Dz0G
                        Parent: 0vpZeO
                        Name: Commercial office 2
                        Path: FOLDERS/Commercial office 2
                      - ID: 6GlAKy
                        Parent: 0vpZeO
                        Name: Proyects
                        Path: FOLDERS/Proyects
                    meta:
                      pagination:
                        total_pages: 1
                        current_page: '1'
                        total_results: 5
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: string
                        Parent:
                          type: string
                        Name:
                          type: string
                        Path:
                          type: string
                        Created:
                          type: string
                          x-stoplight:
                            id: j5i35m4xubggq
                        Modified:
                          type: string
                          x-stoplight:
                            id: 04qxf4xaottp9
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total_pages:
                            type: integer
                          current_page:
                            type: integer
                          total_results:
                            type: integer
              examples:
                Example 1:
                  value:
                    data:
                      - ID: X3lXnB
                        Parent: 0vpZeO
                        Name: Administration
                        Path: FOLDERS/Administration
                        Created: '2024-01-17T17:43:46.000Z'
                        Modified: '2024-03-25T12:31:16.000Z'
                      - ID: xWOB8W
                        Parent: 0vpZeO
                        Name: Billing
                        Path: FOLDERS/Billing
                        Created: '2024-01-17T17:43:46.000Z'
                        Modified: '2024-03-25T12:31:16.000Z'
                      - ID: 6GlAKy
                        Parent: 0vpZeO
                        Name: Proyects
                        Path: FOLDERS/Proyects
                        Created: '2024-01-17T17:43:46.000Z'
                        Modified: '2024-03-25T12:31:16.000Z'
                    meta:
                      pagination:
                        total_pages: 1
                        current_page: 1
                        total_results: 3
        '400':
          $ref: '#/components/responses/400-Bad-Page'
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/Folder-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Page:
                  type: string
                  x-stoplight:
                    id: 3dsavxduakww6
                  default: '1'
                  example: '1'
        description: Page is not required. By default get the page 1.
      description: List a folder of your Dataprius account. You can get the subfolder references to navigate.
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      tags:
        - Folders
      x-internal: false
  '/folders/files/{idFolder}':
    post:
      summary: List files
      operationId: post-folders-files
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: string
                        Folder:
                          type: string
                        Name:
                          type: string
                        Size:
                          type: integer
                        Created:
                          type: string
                        Modified:
                          type: string
                        Accessed:
                          type: string
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total_pages:
                            type: integer
                          current_page:
                            type: integer
                          total_results:
                            type: integer
                x-examples:
                  Example 1:
                    data:
                      - ID: 0LLWm30
                        Folder: jO8O5n
                        Name: 2024-01-18-132842-export (1).csv
                        Size: 127
                        Created: '2024-03-25T12:24:15.000Z'
                        Modified: '2024-03-23T02:19:56.000Z'
                        Accessed: '2024-03-25T12:24:15.000Z'
                      - ID: RyKLmZ0
                        Folder: jO8O5n
                        Name: "áéíóúñ\U0001F60Dcop‎ia.txt"
                        Size: 86
                        Created: '2024-01-17T17:43:49.000Z'
                        Modified: '2021-06-08T08:23:34.000Z'
                        Accessed: '2024-01-17T17:43:49.000Z'
                      - ID: LvorAgR
                        Folder: jO8O5n
                        Name: áéíóúñÑ份文件2.txt
                        Size: 4
                        Created: '2024-01-17T17:43:47.000Z'
                        Modified: '2021-06-07T10:24:30.000Z'
                        Accessed: '2024-01-17T17:43:47.000Z'
                      - ID: 5eewYrA
                        Folder: jO8O5n
                        Name: Captura de pantalla 2024-03-25 a las 12.40.53.png
                        Size: 132043
                        Created: '2024-03-25T12:18:56.000Z'
                        Modified: '2024-03-25T11:46:38.000Z'
                        Accessed: '2024-03-25T12:18:56.000Z'
                      - ID: mJJz7Xa
                        Folder: jO8O5n
                        Name: DESDEddddd333.docx
                        Size: 22575
                        Created: '2024-03-25T12:25:34.000Z'
                        Modified: '2024-03-22T16:46:42.000Z'
                        Accessed: '2024-03-25T12:25:34.000Z'
                      - ID: mJJzN5m
                        Folder: jO8O5n
                        Name: ger.png
                        Size: 7118
                        Created: '2024-03-22T12:19:45.000Z'
                        Modified: '2024-03-22T13:19:33.000Z'
                        Accessed: '2024-03-22T12:19:45.000Z'
                      - ID: AooY4Xq
                        Folder: jO8O5n
                        Name: ingeradio-mail2.jpg
                        Size: 4839
                        Created: '2024-03-25T12:31:16.000Z'
                        Modified: '2024-03-22T12:17:22.000Z'
                        Accessed: '2024-03-25T12:31:16.000Z'
                      - ID: WRRrqO0
                        Folder: jO8O5n
                        Name: logo ingeradio.png
                        Size: 20157
                        Created: '2024-03-22T12:19:08.000Z'
                        Modified: '2024-03-22T13:14:20.000Z'
                        Accessed: '2024-03-22T12:19:17.000Z'
                      - ID: mJJzgPo
                        Folder: jO8O5n
                        Name: PEPE.txt
                        Size: 50
                        Created: '2024-03-22T16:57:38.000Z'
                        Modified: '2024-03-22T17:57:32.000Z'
                        Accessed: '2024-03-22T16:57:38.000Z'
                      - ID: YwwY8Wg
                        Folder: jO8O5n
                        Name: sdssdáéíóúñÑ份文件-Clon(1).txt
                        Size: 33
                        Created: '2024-03-14T10:07:59.000Z'
                        Modified: '2024-03-14T10:08:17.000Z'
                        Accessed: '2024-03-14T10:08:34.000Z'
                    meta:
                      pagination:
                        total_pages: 1
                        current_page: 1
                        total_results: 10
              examples:
                Example 1:
                  value:
                    data:
                      - ID: 1nVEy3
                        Folder: 0vpZeO
                        Name: cloud computing.xlsx
                        Size: 323234
                        Created: '2024-01-17T17:43:47.000Z'
                        Modified: '2021-06-07T10:24:30.000Z'
                        Accessed: '2024-01-17T17:43:47.000Z'
                      - ID: QzpjPo
                        Folder: 0vpZeO
                        Name: Dossier.docx
                        Size: 235124
                        Created: '2024-01-17T17:43:47.000Z'
                        Modified: '2021-06-07T10:24:30.000Z'
                        Accessed: '2024-01-17T17:43:47.000Z'
                      - ID: G2nn9o
                        Folder: 0vpZeO
                        Name: hello.txt
                        Size: 43251
                        Created: '2024-01-17T17:43:47.000Z'
                        Modified: '2021-06-07T10:24:30.000Z'
                        Accessed: '2024-01-17T17:43:47.000Z'
                    meta:
                      pagination:
                        total_pages: 1
                        current_page: 1
                        total_results: 3
        '400':
          $ref: '#/components/responses/400-Bad-Page'
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/Folder-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: Get the files contained in the folder.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Page:
                  type: string
                  x-stoplight:
                    id: zq4ssohlu7mn9
                  default: '1'
                  example: '1'
        description: Page is not required. By default get the page 1.
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      tags:
        - Folders
      x-internal: false
    parameters:
      - schema:
          type: string
        name: idFolder
        in: path
        required: true
        description: Folder ID
  '/folders/info/{idFolder}':
    parameters:
      - schema:
          type: string
        name: idFolder
        in: path
        required: true
        description: Folder ID
    get:
      summary: Folder info
      tags:
        - Folders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    data:
                      - ID: jO8O5n
                        Parent: 0
                        Name: 21-22china-?份文件
                        Path: 21-22china-?份文件
                        Created: '2024-01-17T17:43:46.000Z'
                        Modified: '2024-03-25T12:31:16.000Z'
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: string
                        Parent:
                          type: string
                        Name:
                          type: string
                        Path:
                          type: string
                        Created:
                          type: string
                        Modified:
                          type: string
              examples:
                Example 1:
                  value:
                    data:
                      - ID: 6GlAKy
                        Parent: 0vpZeO
                        Name: Proyects
                        Path: FOLDERS/Proyects
                        Created: '2024-01-17T17:43:46.000Z'
                        Modified: '2024-03-25T12:31:16.000Z'
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/Folder-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      operationId: get-folders-info-idFolder
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      x-internal: false
      description: Get folder information.
  /folders/getpath:
    parameters: []
    post:
      summary: Get folder path
      operationId: post-folders-getpath
      responses:
        '200':
          $ref: '#/components/responses/Folder-Result'
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/Folder-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      x-stoplight:
        id: 3ihvcos7v6md3
      description: Get folder information from a Path parameter
      parameters:
        - schema:
            type: string
          in: header
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
          name: Authorization
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Path:
                  type: string
              x-examples:
                Example 1:
                  Path: FOLDERS/Proyects
            examples:
              Example 1:
                value:
                  Path: FOLDERS/Proyects
        description: A folder path. (Folders separated by / )
      tags:
        - Folders
  '/folders/create/{idFolder}':
    post:
      summary: Create folder
      operationId: post-folders-create
      responses:
        '201':
          $ref: '#/components/responses/Folder-Result'
        '400':
          description: Folder already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      error_code:
                        type: string
                      error_message:
                        type: string
                x-examples:
                  Example 1:
                    error:
                      error_code: LIMIT_REQUEST
                      error_message: 'Too many requests from this IP, please try again in a few minutes.'
              examples:
                Example 1:
                  value:
                    error:
                      error_code: FOLDER_EXISTS
                      error_message: 'Error creating folder: FolderName. The folder already exists.'
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/Folder-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: |
        Create a subfolder inside the folder passed as parameter.
        Throws an error if a folder with same name already exists. Forbidden chars in Windows are not allowed.

        Forbidden chars

            < (less than)
            > (greater than)
            : (colon)
            " (double quote)
            / (forward slash)
            \ (backslash)
            | (vertical bar or pipe)
            ? (question mark)
            * (asterisk)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Name:
                  type: string
                  x-stoplight:
                    id: zq4ssohlu7mn9
                  example: Proyects
              required:
                - Name
        description: Name of the new subfolder
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      tags:
        - Folders
      x-internal: false
    parameters:
      - schema:
          type: string
        name: idFolder
        in: path
        required: true
        description: Folder ID
  /folders/createpath:
    post:
      summary: Create folder path
      operationId: post-folders-create-path
      responses:
        '201':
          $ref: '#/components/responses/Folder-Result'
        '400':
          description: The folder already exists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      error_code:
                        type: string
                      error_message:
                        type: string
                x-examples:
                  Example 1:
                    error:
                      error_code: FOLDER_EXISTS
                      error_message: 'Error creating folder: FolderName. The folder already exists.'
              examples:
                The folder already exists:
                  value:
                    error:
                      error_code: FOLDER_EXISTS
                      error_message: 'Error creating folder: FolderName. The folder already exists.'
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: |
        Creates all the folders of a path given as a parameter. Throws an error if a folder with same name already exists. Forbidden chars in Windows are not allowed.

        Forbidden chars

            < (less than)
            > (greater than)
            : (colon)
            " (double quote)
            / (forward slash)
            \ (backslash)
            | (vertical bar or pipe)
            ? (question mark)
            * (asterisk)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Path:
                  type: string
                  x-stoplight:
                    id: zq4ssohlu7mn9
                  example: FOLDERS/Proyects
              required:
                - Path
        description: A folder path to create. (Folders separated by / )
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      tags:
        - Folders
      x-internal: false
    parameters: []
  '/folders/rename/{idFolder}':
    parameters:
      - schema:
          type: string
        name: idFolder
        in: path
        required: true
        description: Folder ID
    patch:
      summary: Rename folder
      operationId: patch-folders-rename-idFolder
      responses:
        '202':
          $ref: '#/components/responses/Folder-Result'
        '400':
          description: The folder already exists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      error_code:
                        type: string
                      error_message:
                        type: string
                x-examples:
                  Example 1:
                    error:
                      error_code: FOLDER_EXISTS
                      error_message: 'Error creating folder: FolderName. The folder already exists.'
              examples:
                Example 1:
                  value:
                    error:
                      error_code: FOLDER_EXISTS
                      error_message: The folder new name already exists.
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/Folder-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: |
        Rename folder.
        Throws an error if a folder with same name already exists. Forbidden chars in Windows are not allowed.

        Forbidden chars

            < (less than)
            > (greater than)
            : (colon)
            " (double quote)
            / (forward slash)
            \ (backslash)
            | (vertical bar or pipe)
            ? (question mark)
            * (asterisk)
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  NewName: Commercial office
              properties:
                NewName:
                  type: string
                  example: Proyects
              required:
                - NewName
            examples:
              Example 1:
                value:
                  NewName: Proyects
      tags:
        - Folders
  '/folders/delete/{idFolder}':
    parameters:
      - schema:
          type: string
        name: idFolder
        in: path
        required: true
        description: Folder ID
    delete:
      summary: Delete folder
      operationId: delete-folders-delete-idFolder
      responses:
        '204':
          description: No Content. Delete successful.
        '400':
          description: Error deleting folder
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      error_code:
                        type: string
                      error_message:
                        type: string
                x-examples:
                  Example 1:
                    error:
                      error_code: FOLDER_EXISTS
                      error_message: The folder new name already exists.
              examples:
                Example 1:
                  value:
                    error:
                      error_code: DELETE_FOLDER
                      error_message: Error deleting folder.
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/Folder-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: |-
        Delete folder
        The folder not permanently deleted. The folder goes to the recycle bin of the Dataprius account.
      requestBody:
        content: {}
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      tags:
        - Folders
  /files/upload:
    post:
      summary: File upload
      operationId: post-files-upload
      responses:
        '201':
          $ref: '#/components/responses/File-info'
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/Folder-not-exists'
        '413':
          description: Maximum file size exceeded. Maximum 2 gigabytes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      error_code:
                        type: string
                      error_message:
                        type: string
                x-examples:
                  Example 1:
                    error:
                      error_code: BEARER_EXPIRED
                      error_message: The access token expired
              examples:
                Maximum file size exceeded.:
                  value:
                    error:
                      error_code: MAX_SIZE
                      error_message: Maximum file size exceeded. Maximum 2 gigabytes.
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: |-
        Upload a file into a folder.

        If the file already exists, it will be overwritten. An autocopy (backup copy of the previous version) will be generated at a minimum interval of 30 minutes.

        Maximum file size is 2 gigabytes.
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              x-examples:
                Example 1:
                  IDFolder: 0vpZeO
                  file: /var/www/Dossier.docx
              properties:
                IDFolder:
                  type: string
                file:
                  type: string
                  format: binary
              required:
                - IDFolder
                - file
            examples:
              Example 1:
                value:
                  IDFolder: string
                  file: string
        description: Folder id and file to upload.
      tags:
        - Files
  '/files/info/{idFile}':
    parameters:
      - schema:
          type: string
        name: idFile
        in: path
        required: true
        description: File ID
    get:
      summary: File info
      tags:
        - Files
      responses:
        '200':
          $ref: '#/components/responses/File-info'
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/File-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      operationId: get-files-info-idFolder
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      x-internal: false
      description: Get file information.
  '/files/download/{idFile}':
    parameters:
      - schema:
          type: string
        name: idFile
        in: path
        required: true
        description: File ID
    get:
      summary: File download
      tags:
        - Files
      responses:
        '200':
          description: OK
          headers:
            'Content-Type: application/octet-stream':
              schema:
                type: string
            'Content-Disposition: attachment; filename="Dossier.docx"':
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: object
                properties: {}
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/File-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      operationId: get-files-download-idFile
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      x-internal: false
      description: "Download file.\r\n\r\nExample:\r\n```json\r\ncurl -X GET https://api.v2.dataprius.com/files/download/5ejdGqK \\\r\n    -H \"Accept: application/octet-stream, application/json\" \\\r\n    -H \"Authorization: Bearer xxxxxxx\" \\\r\n    -H \"Content-Type: application/octet-stream\" \\\r\n    -H \"Content-Disposition: attachment;\" \\\r\n    --output \"c:\\Users\\John\\Downloads\\Dossier.docx\"\r\n```"
  '/files/rename/{idFile}':
    parameters:
      - schema:
          type: string
        name: idFile
        in: path
        required: true
        description: File ID
    patch:
      summary: File rename
      operationId: patch-files-rename-idFile
      responses:
        '202':
          $ref: '#/components/responses/File-info'
        '401':
          description: File already exists or the file is opened by another user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      error_code:
                        type: string
                      error_message:
                        type: string
                x-examples:
                  Example 1:
                    error:
                      error_code: DELETING_FILE
                      error_message: Error deleting file.
              examples:
                File blocked:
                  value:
                    error:
                      error_code: FILE_BLOCKED
                      error_message: Error renaming file. Blocked file.
                File exists:
                  value:
                    status: error
                    data: null
                    error:
                      code: 400
                      error_type: FILE_EXISTS
                      message: Error renaming file. File exits.
        '404':
          $ref: '#/components/responses/File-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: |
        Rename file.
        Throws an error if a file with same name already exists. Forbidden chars in Windows are not allowed.

        Forbidden chars

            < (less than)
            > (greater than)
            : (colon)
            " (double quote)
            / (forward slash)
            \ (backslash)
            | (vertical bar or pipe)
            ? (question mark)
            * (asterisk)
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  NewName: Commercial office
              properties:
                NewName:
                  type: string
                  example: Proyects
              required:
                - NewName
            examples:
              Example 1:
                value:
                  NewName: Dossier.docx
      tags:
        - Files
  '/files/delete/{idFile}':
    parameters:
      - schema:
          type: string
        name: idFile
        in: path
        required: true
        description: File ID
    delete:
      summary: Delete file
      operationId: delete-files-idFile
      responses:
        '204':
          description: No Content. Delete successful.
        '400':
          description: Error deleting file.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      error_code:
                        type: string
                      error_message:
                        type: string
                x-examples:
                  Example 1:
                    error:
                      error_code: FOLDER_NOT_EXISTS
                      error_message: This id folder does not exist.
              examples:
                Error deleting file:
                  value:
                    error:
                      error_code: DELETING_FILE
                      error_message: Error deleting file.
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/File-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      tags:
        - Files
      description: |-
        Delete file
        The file is not permanently deleted. The file is sent the recycle bin of the Dataprius account.
  /search:
    post:
      summary: Search files and folders
      tags:
        - Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      folders:
                        type: array
                        items:
                          type: object
                          properties:
                            IDFolder:
                              type: string
                            Parent:
                              type: string
                            Name:
                              type: string
                            Path:
                              type: string
                            Created:
                              type: string
                            Modified:
                              type: string
                      files:
                        type: array
                        items:
                          type: object
                          properties:
                            IDFile:
                              type: string
                            Name:
                              type: string
                            IDFolder:
                              type: string
                            Path:
                              type: string
                            Bytes:
                              type: integer
                            Created:
                              type: string
                            Modified:
                              type: string
                            Accessed:
                              type: string
                            Parent:
                              type: string
                  meta:
                    type: object
                    properties:
                      total_results:
                        type: integer
                      total_folders:
                        type: integer
                      total_files:
                        type: integer
                x-examples:
                  Example 1:
                    data:
                      folders:
                        - IDFolder: X3l2nB
                          Parent: 0vpZeO
                          Name: Administration
                          Path: FOLDERS/Administration
                          Created: '2024-01-17T17:43:46.000Z'
                          Modified: '2024-03-25T12:31:16.000Z'
                        - IDFolder: xWOB8W
                          Parent: 0vpZeO
                          Name: Billing
                          Path: FOLDERS/Billing
                          Created: '2024-01-17T17:43:46.000Z'
                          Modified: '2024-03-25T12:31:16.000Z'
                      files:
                        - IDFile: X3lXnB
                          Name: Administration
                          IDFolder: 0vpZeO
                          Path: FOLDERS/Administration
                          Bytes: 389283
                          Created: '2024-01-17T17:43:46.000Z'
                          Modified: '2024-03-25T12:31:16.000Z'
                          Accessed: '2024-03-25T12:31:16.000Z'
                        - IDFolder: xWOB8W
                          Parent: 0vpZeO
                          Name: Billing
                          Path: FOLDERS/Billing
                          Bytes: 2322
                          Created: '2024-01-17T17:43:46.000Z'
                          Modified: '2024-03-25T12:31:16.000Z'
                          Accessed: '2024-03-25T12:31:16.000Z'
                        - IDFolder: 6GlAKy
                          Parent: 0vpZeO
                          Name: Proyects
                          Path: FOLDERS/Proyects
                          Bytes: 39823
                          Created: '2024-01-17T17:43:46.000Z'
                          Modified: '2024-03-25T12:31:16.000Z'
                          Accessed: '2024-03-25T12:31:16.000Z'
                    meta:
                      total_results: 5
                      total_folders: 2
                      total_files: 3
              examples:
                Search folders and files:
                  value:
                    data:
                      folders:
                        - IDFolder: X3l2nB
                          Parent: 0vpZeO
                          Name: Administration
                          Path: FOLDERS/Administration
                          Created: '2024-01-17T17:43:46.000Z'
                          Modified: '2024-03-25T12:31:16.000Z'
                        - IDFolder: xWOB8W
                          Parent: 0vpZeO
                          Name: Billing
                          Path: FOLDERS/Billing
                          Created: '2024-01-17T17:43:46.000Z'
                          Modified: '2024-03-25T12:31:16.000Z'
                      files:
                        - IDFile: X3lXnB
                          Name: Administration
                          IDFolder: 0vpZeO
                          Path: FOLDERS/Administration
                          Bytes: 389283
                          Created: '2024-01-17T17:43:46.000Z'
                          Modified: '2024-03-25T12:31:16.000Z'
                          Accessed: '2024-03-25T12:31:16.000Z'
                        - IDFile: xWOB8W
                          Parent: 0vpZeO
                          Name: Billing
                          Path: FOLDERS/Billing
                          Bytes: 2322
                          Created: '2024-01-17T17:43:46.000Z'
                          Modified: '2024-03-25T12:31:16.000Z'
                          Accessed: '2024-03-25T12:31:16.000Z'
                        - IDFile: 6GlAKy
                          Parent: 0vpZeO
                          Name: Proyects
                          Path: FOLDERS/Proyects
                          Bytes: 39823
                          Created: '2024-01-17T17:43:46.000Z'
                          Modified: '2024-03-25T12:31:16.000Z'
                          Accessed: '2024-03-25T12:31:16.000Z'
                    meta:
                      total_results: 5
                      total_folders: 2
                      total_files: 3
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/Folder-not-exists'
        '429':
          description: "Too many requests from this IP, please try again in a few minutes.\r\nSearch in progress. Please wait a few seconds before trying again."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      error_code:
                        type: string
                      error_message:
                        type: string
                x-examples:
                  Example 1:
                    error:
                      error_code: SEARCH_BUSY
                      error_message: Search in progress. Please wait a few seconds before trying again.
              examples:
                Search in progress:
                  value:
                    error:
                      error_code: SEARCH_BUSY
                      error_message: Search in progress. Please wait a few seconds before trying again.
                Too many requests:
                  value:
                    error:
                      error_code: LIMIT_REQUEST
                      error_message: 'Too many requests from this IP, please try again in a few minutes.'
      operationId: post-search
      x-stoplight:
        id: bg01lbu5rksnt
      description: "Search folders and files by name or by file Tags.\r\nSearch in all the Dataprius account or from a folder and its subfolders.\r\nMax results: 500.\r\nSearch in the application: [https://manual.dataprius.com/en/search-for-files-and-folders/](url)\r\n"
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
          required: true
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  Query: john doe
                  RootFolderId: 82kdXd
                  ByTags: 'false'
              required:
                - Query
              properties:
                Query:
                  type: string
                  description: Query string
                RootFolderId:
                  type: string
                  description: To search from this folder and its subfolders
                IncFolders:
                  type: boolean
                  x-stoplight:
                    id: h17mwt9nyue0b
                  default: true
                  description: Include folders in the search. If false search only by files
                ByTags:
                  type: boolean
                  default: false
                  description: Search by file tags
            examples:
              Search files by name:
                value:
                  Query: John
                  RootFolderId: '0'
                  IncFolders: false
                  ByTags: false
              Search files by tags:
                value:
                  Query: John
                  RootFolderId: '0'
                  IncFolders: false
                  ByTags: true
              Search folders and files:
                value:
                  Query: John
                  RootFolderId: '0'
                  IncFolders: true
                  ByTags: false
    parameters: []
  /users:
    parameters: []
    get:
      summary: Get users
      operationId: get-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    data:
                      - ID: 7obnZ
                        Name: Jonh
                        Surname1: Doe
                        Surname2: ''
                        CreationDate: '2023-07-11 18:48:03'
                        LastAccess: null
                        Mail: a3@dataprius.com
                        Info: ''
                        Telephone1: ''
                        Telephone2: ''
                        Label1: ''
                        Label2: ''
                        Label3: ''
                    meta:
                      pagination:
                        total_pages: 1
                        current_page: 1
                        total_results: 1
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: string
                        Name:
                          type: string
                        MiddleName:
                          type: string
                          x-stoplight:
                            id: 53mlwqoyuye15
                        LastName:
                          type: string
                          x-stoplight:
                            id: peo4rkjff4o1d
                        CreationDate:
                          type: string
                        LastAccess:
                          type: 'null'
                        Mail:
                          type: string
                        Info:
                          type: string
                        Telephone1:
                          type: string
                        Telephone2:
                          type: string
                        Label1:
                          type: string
                        Label2:
                          type: string
                        Label3:
                          type: string
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total_pages:
                            type: integer
                          current_page:
                            type: integer
                          total_results:
                            type: integer
              examples:
                Example 1:
                  value:
                    data:
                      - ID: 7obnZ
                        Name: Jonh
                        MiddleName: Doe
                        LastName: ''
                        CreationDate: '2023-07-11 18:48:03'
                        LastAccess: null
                        Mail: a3@dataprius.com
                        Info: ''
                        Telephone1: ''
                        Telephone2: ''
                        Label1: ''
                        Label2: ''
                        Label3: ''
                    meta:
                      pagination:
                        total_pages: 1
                        current_page: 1
                        total_results: 1
        '400':
          $ref: '#/components/responses/400-Bad-Page'
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: List web users from your Dataprius account.
      parameters:
        - schema:
            type: string
            example: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
        - schema:
            type: string
            example: Page=1
          in: query
          name: Page
          description: Page number. By default the request get Page 1.
      requestBody:
        content: {}
        description: Page is not required. By default the request get Page 1.
      tags:
        - Users
  /user:
    post:
      summary: Create user
      operationId: post-user
      responses:
        '201':
          description: Created user
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    data:
                      - ID: 7obnZ
                        Name: Jonh
                        Surname1: Doe
                        Surname2: ''
                        CreationDate: '2023-07-11 18:48:03'
                        LastAccess: null
                        Mail: a3@dataprius.com
                        Info: ''
                        Telephone1: ''
                        Telephone2: ''
                        Label1: ''
                        Label2: ''
                        Label3: ''
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: string
                        Name:
                          type: string
                        MiddleName:
                          type: string
                          x-stoplight:
                            id: z2h8km7435fqa
                        LastName:
                          type: string
                          x-stoplight:
                            id: pa4nu9t7b6u3u
                        CreationDate:
                          type: string
                        LastAccess:
                          type: 'null'
                        Mail:
                          type: string
                        Info:
                          type: string
                        Telephone1:
                          type: string
                        Telephone2:
                          type: string
                        Label1:
                          type: string
                        Label2:
                          type: string
                        Label3:
                          type: string
              examples:
                Example 1:
                  value:
                    data:
                      - ID: 7obnZ
                        Name: Jonh
                        MiddleName: Doe
                        LastName: ''
                        CreationDate: '2023-07-11 18:48:03'
                        LastAccess: null
                        Mail: a3@dataprius.com
                        Info: ''
                        Telephone1: ''
                        Telephone2: ''
                        Label1: ''
                        Label2: ''
                        Label3: ''
        '400':
          description: User already exists. Can not create.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      error_code:
                        type: string
                      error_message:
                        type: string
                x-examples:
                  Example 1:
                    error:
                      error_code: FOLDER_EXISTS
                      error_message: 'Error creating folder: FolderName. The folder already exists.'
              examples:
                Example 1:
                  value:
                    error:
                      error_code: USER_EXISTS
                      error_message: Error creating user. Already exists.
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: Create a web user.
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          required: true
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  Name: a3
                  Surname1: a3
                  Surname2: ''
                  Mail: a3@a.com
                  Info: ''
                  Telephone1: ''
                  Telephone2: ''
                  Label1: ''
                  Label2: ''
                  Label3: ''
              properties:
                Name:
                  type: string
                MiddleName:
                  type: string
                  x-stoplight:
                    id: 2gix4fui1cnf6
                LastName:
                  type: string
                  x-stoplight:
                    id: qrtnv8q8wno2f
                Mail:
                  type: string
                Password:
                  type: string
                  x-stoplight:
                    id: 7hpyp9eewvb9n
                Info:
                  type: string
                Telephone1:
                  type: string
                Telephone2:
                  type: string
                Label1:
                  type: string
                Label2:
                  type: string
                Label3:
                  type: string
              required:
                - Name
                - MiddleName
                - Mail
                - Password
            examples:
              Example 1:
                value:
                  Name: Maria
                  MiddleName: Tomson
                  LastName: ''
                  Mail: a4@a.com
                  Password: yourPass
                  Info: INFO EXAMPLE
                  Telephone1: '3892'
                  Telephone2: ''
                  Label1: test api
                  Label2: ''
                  Label3: ''
        description: 'Name, MiddleName and Mail are required.'
      x-internal: false
      tags:
        - Users
    parameters: []
  '/user/{idUser}':
    parameters:
      - schema:
          type: string
        name: idUser
        in: path
        required: true
        description: Web user id
    get:
      summary: Get user
      operationId: get-user-idUser
      responses:
        '200':
          $ref: '#/components/responses/200-user-info'
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/404-user-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: Get web user information.
      parameters:
        - schema:
            type: string
            example: Bearer 6342c1c05305301c15027f131888
          in: header
          name: Authorization
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
          required: true
      tags:
        - Users
    patch:
      summary: Modify user
      operationId: patch-user-idUser
      responses:
        '202':
          $ref: '#/components/responses/200-user-info'
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/404-user-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: Update web user
      parameters:
        - schema:
            type: string
            example: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
          in: header
          name: Authorization
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  Name: a4
                  Surname1: surname a4
                  Surname2: ''
                  Mail: a4@a.com
                  Password: yourPass
                  Info: INFO EXAMPLE
                  Telephone1: '3892'
                  Telephone2: ''
                  Label1: test api
                  Label2: ''
                  Label3: ''
              properties:
                Name:
                  type: string
                MiddleName:
                  type: string
                  x-stoplight:
                    id: t3op076bfgkok
                LastName:
                  type: string
                  x-stoplight:
                    id: wgcbnb3wjrspx
                Mail:
                  type: string
                Password:
                  type: string
                Info:
                  type: string
                Telephone1:
                  type: string
                Telephone2:
                  type: string
                Label1:
                  type: string
                Label2:
                  type: string
                Label3:
                  type: string
              required:
                - Name
                - MiddleName
                - Mail
                - Password
            examples:
              Update user:
                value:
                  Name: Ana
                  MiddleName: Smith
                  LastName: ''
                  Mail: a4@a.com
                  Password: yourPass
                  Info: INFO EXAMPLE
                  Telephone1: '3892'
                  Telephone2: ''
                  Label1: test api
                  Label2: ''
                  Label3: ''
      tags:
        - Users
    delete:
      summary: Delete user
      operationId: delete-user-idUser
      responses:
        '204':
          description: No Content. Delete successful.
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/404-user-not-exists'
        '429':
          $ref: '#/components/responses/429-Too-many-request'
      description: Delete web user
      parameters:
        - schema:
            type: string
            example: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
          in: header
          name: Authorization
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
          required: true
      tags:
        - Users
  /user/invite:
    post:
      summary: Send Invitation
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                x-examples:
                  Example 1:
                    data:
                      status: ok
              examples:
                OK:
                  value:
                    data:
                      status: ok
        '401':
          $ref: '#/components/responses/401-Invalid-Authorization'
        '404':
          $ref: '#/components/responses/404-user-not-exists'
        '429':
          description: 'Too many requests from this IP, please try again in a few minutes.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      error_code:
                        type: string
                      error_message:
                        type: string
                x-examples:
                  Example 1:
                    error:
                      error_code: LIMIT_REQUEST
                      error_message: 'Too many requests from this IP, please try again in a few minutes.'
              examples:
                LIMIT_REQUEST:
                  value:
                    error:
                      error_code: LIMIT_REQUEST
                      error_message: 'Too many requests from this IP, please try again in a few minutes.'
                TOO_MANY_INVITATION:
                  value:
                    error:
                      error_code: TOO_MANY_INVITATION
                      error_message: Too many invitation sent to this user. Please wait a few seconds before trying again.
      operationId: post-users-invite
      x-stoplight:
        id: h233vimuo3yxt
      description: "Send email invitation to a web user. A system email will be send. \r\nParams:\r\n- IdUser\r\n- MailSubject\r\n- MailBody\r\n"
      parameters:
        - schema:
            type: string
            example: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
          in: header
          name: Authorization
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
          required: true
      requestBody:
        description: "Required params:\r\n- IdUser\r\n- MailSubject\r\n- MailBody"
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  IdUser: kd82d
                  MailSubject: Access to Documents
                  MailBody: |-
                    Hello

                    We send the credentials to access the folders and files we share.

                    Thanks
              required:
                - IdUser
                - MailSubject
                - MailBody
              properties:
                IdUser:
                  type: string
                MailSubject:
                  type: string
                MailBody:
                  type: string
            examples:
              Example 1:
                value:
                  IdUser: kd82d
                  MailSubject: Access to Documents
                  MailBody: |-
                    Hello

                    We send the credentials to access the folders and files we share.

                    Thanks
    parameters: []
  /permissions:
    patch:
      summary: Permission Update
      tags:
        - Permissions
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                x-examples:
                  Example 1:
                    data:
                      status: ok
              examples:
                Example 1:
                  value:
                    data:
                      status: ok
        '401':
          description: The Bearer access token expired
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      error_code:
                        type: string
                      error_message:
                        type: string
                x-examples:
                  Example 1:
                    error:
                      error_code: BEARER_EXPIRED
                      error_message: The access token expired
              examples:
                Example 1:
                  value:
                    error:
                      error_code: BEARER_EXPIRED
                      error_message: The access token expired
        '404':
          description: "Folder does not exist\r\nID user does not exist"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      error_code:
                        type: string
                      error_message:
                        type: string
                x-examples:
                  Example 1:
                    error:
                      error_code: FOLDER_NOT_EXISTS
                      error_message: This id folder does not exist.
              examples:
                FOLDER_NOT_EXISTS:
                  value:
                    error:
                      error_code: FOLDER_NOT_EXISTS
                      error_message: This id folder does not exist.
                INVALID_USER_ID:
                  value:
                    error:
                      error_code: INVALID_USER_ID
                      error_message: Invalid Web User ID
        '429':
          description: 'Too many requests from this IP, please try again in a few minutes.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      error_code:
                        type: string
                      error_message:
                        type: string
                x-examples:
                  Example 1:
                    error:
                      error_code: LIMIT_REQUEST
                      error_message: 'Too many requests from this IP, please try again in a few minutes.'
              examples:
                Example 1:
                  value:
                    error:
                      error_code: LIMIT_REQUEST
                      error_message: 'Too many requests from this IP, please try again in a few minutes.'
      operationId: patch-permissions
      x-stoplight:
        id: 8w078y2572bm9
      description: "Allow or Forbid a folder and subfolders to a Web User.\r\nThrows an error if a folder or the Web Users doesn't exists."
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer 92e412b547de88dc66368a21e4ebb56d0f813c1a
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                IdFolder:
                  type: string
                IdUser:
                  type: string
                Allowed:
                  type: boolean
              x-examples:
                Example 1:
                  IdFolder: kdi2S
                  IdUser: keipo
                  Allowed: true
            examples:
              Example 1:
                value:
                  IdFolder: kdi2S
                  IdUser: keipo
                  Allowed: true
        description: "Allow or Forbid a folder and subfolders to a Web User.\r\n- IdFolder: Folder\r\n- IdUser: Web user ID\r\n- Allowed: true or false"
components:
  schemas: {}
  securitySchemes: {}
  responses:
    Folder-Result:
      description: Folder information
      content:
        application/json:
          schema:
            type: object
            x-examples:
              Example 1:
                data:
                  - ID: jO8O5n
                    Parent: 0
                    Name: 21-22china-?份文件
                    Path: 21-22china-?份文件
                    Created: '2024-01-17T17:43:46.000Z'
                    Modified: '2024-03-25T12:31:16.000Z'
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    ID:
                      type: string
                    Parent:
                      type: string
                    Name:
                      type: string
                    Path:
                      type: string
                    Created:
                      type: string
                    Modified:
                      type: string
          examples:
            Example 1:
              value:
                data:
                  - ID: 6GlAKy
                    Parent: 0vpZeO
                    Name: Proyects
                    Path: FOLDERS/Proyects
                    Created: '2024-01-17T17:43:46.000Z'
                    Modified: '2024-03-25T12:31:16.000Z'
    Folder-not-exists:
      description: Folder does not exist
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  error_code:
                    type: string
                  error_message:
                    type: string
            x-examples:
              Example 1:
                error:
                  error_code: FOLDER_NOT_EXISTS
                  error_message: This id folder does not exist.
          examples:
            Example:
              value:
                error:
                  error_code: FOLDER_NOT_EXISTS
                  error_message: This id folder does not exist.
        application/xml:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  error_code:
                    type: string
                  error_message:
                    type: string
            x-examples:
              Example 1:
                error:
                  error_code: USER_NOT_EXISTS
                  error_message: This id user does not exist or was deleted.
    File-info:
      description: File information
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  ID:
                    type: string
                  Folder:
                    type: string
                  Name:
                    type: string
                  Size:
                    type: integer
                  Created:
                    type: string
                  Modified:
                    type: string
                  Accessed:
                    type: string
            x-examples:
              Example 1:
                data:
                  ID: LvorAgR
                  Folder: jO8O5n
                  Name: áéíóúñÑ份文件2.txt
                  Size: 4
                  Created: '2024-01-17T17:43:47.000Z'
                  Modified: '2021-06-07T10:24:30.000Z'
                  Accessed: '2024-01-17T17:43:47.000Z'
          examples:
            Example 1:
              value:
                data:
                  ID: LvorAgR
                  Folder: jO8O5n
                  Name: Dossier.docx
                  Size: 4
                  Created: '2024-01-17T17:43:47.000Z'
                  Modified: '2021-06-07T10:24:30.000Z'
                  Accessed: '2024-01-17T17:43:47.000Z'
    File-not-exists:
      description: File does not exists
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  error_code:
                    type: string
                  error_message:
                    type: string
            x-examples:
              Example 1:
                error:
                  error_code: FOLDER_NOT_EXISTS
                  error_message: This id folder does not exist.
          examples:
            File does not exist:
              value:
                error:
                  error_code: FILE_NOT_EXISTS
                  error_message: This id file does not exist or was deleted.
    429-Too-many-request:
      description: 'Too many requests from this IP, please try again in a few minutes.'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  error_code:
                    type: string
                  error_message:
                    type: string
            x-examples:
              Example 1:
                error:
                  error_code: LIMIT_REQUEST
                  error_message: 'Too many requests from this IP, please try again in a few minutes.'
          examples:
            Too many request:
              value:
                error:
                  error_code: LIMIT_REQUEST
                  error_message: 'Too many requests from this IP, please try again in a few minutes.'
    401-Invalid-Authorization:
      description: The Bearer access token expired
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  error_code:
                    type: string
                  error_message:
                    type: string
            x-examples:
              Example 1:
                error:
                  error_code: BEARER_EXPIRED
                  error_message: The access token expired
          examples:
            Bearer expired:
              value:
                error:
                  error_code: BEARER_EXPIRED
                  error_message: The access token expired
            Invalid clientId or clientSecret:
              value:
                error:
                  error_code: USER_DATA
                  error_message: Invalid clientId or clientSecret.
    400-Bad-Page:
      description: Invalid page number
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  error_code:
                    type: string
                  error_message:
                    type: string
            x-examples:
              Example 1:
                error:
                  error_code: BAD_PAGE
                  error_message: Invalid value for Page number. Greater than total pages.
          examples:
            Bad page:
              value:
                error:
                  error_code: BAD_PAGE
                  error_message: Invalid value for Page number. Greater than total pages.
    404-user-not-exists:
      description: Web user does not exists
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  error_code:
                    type: string
                  error_message:
                    type: string
            x-examples:
              Example 1:
                error:
                  error_code: FILE_NOT_EXISTS
                  error_message: This id file does not exist or was deleted.
          examples:
            Example 1:
              value:
                error:
                  error_code: USER_NOT_EXISTS
                  error_message: This id user does not exist or was deleted.
    200-user-info:
      description: Web user information
      content:
        application/json:
          schema:
            type: object
            x-examples:
              Example 1:
                data:
                  - ID: 7obnZ
                    Name: a3
                    Surname1: a3
                    Surname2: ''
                    CreationDate: '2023-07-11 18:48:03'
                    LastAccess: null
                    Mail: a3@a.com
                    Info: ''
                    Telephone1: ''
                    Telephone2: ''
                    Label1: ''
                    Label2: ''
                    Label3: ''
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    ID:
                      type: string
                    Name:
                      type: string
                    MiddleName:
                      type: string
                      x-stoplight:
                        id: 64lfykvwcawuy
                    LastName:
                      type: string
                      x-stoplight:
                        id: wahjjqscwdo6f
                    CreationDate:
                      type: string
                    LastAccess:
                      type: 'null'
                    Mail:
                      type: string
                    Info:
                      type: string
                    Telephone1:
                      type: string
                    Telephone2:
                      type: string
                    Label1:
                      type: string
                    Label2:
                      type: string
                    Label3:
                      type: string
          examples:
            Example 1:
              value:
                data:
                  - ID: 7obnZ
                    Name: Peter
                    MiddleName: Middle name
                    LastName: Last name
                    CreationDate: '2023-07-11 18:48:03'
                    LastAccess: null
                    Mail: a3@a.com
                    Info: ''
                    Telephone1: ''
                    Telephone2: ''
                    Label1: ''
                    Label2: ''
                    Label3: ''
tags:
  - name: Authentication
    description: Authentication process
  - name: Files
    description: Files operations
  - name: Folders
    description: Folders operations
  - name: Permissions
    description: Permissions operations
  - name: Search
    description: Search operations
  - name: Users
    description: Users operations
